* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 10px solid #222;
    height: 80vh;
    width: 300px;
    margin-top: 4%;
    border-radius: 40px;
    max-width: 300px;
    padding-bottom: 10px;
}
.fixed {
    height: 3vh;
    width: 120px;
    background: #222;
    border-radius: 0px 0px 15px 15px;
    position: fixed;
    margin-left: 82px;
}
.topIcon {
    height: 3vh;
    width: 120px;
    position: fixed;
    margin-left: 190px;
    padding-top:10px ;
}
.screenIcon1{
    display: flex;
    padding-top: 300px;
    padding-left: 10px;
}
.map{
    width: 40px;
    
}
.pad{
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
.calender{
    width: 50px;
    margin-left: 20px;
}
.screenIcon2{
    display: flex;
    padding-top: 20px;
    position: absolute;
}
.weather{
    width: 50px;
    margin-left: 10px;
    margin-top: 200px;
}
.store{
    width: 50px;
    margin-left: 20px;
    margin-top: 200px;

}
.cal{
    width: 50px;
    margin-left: 20px;
    margin-top: 200px;
}
.yutobe{
    width: 50px;
    margin-left: 20px;
    margin-top: 200px;
}
.screenIcon3{
    display: flex;
    position: absolute;
}
.email{
    margin-top: 150px;
    width: 40px;
    margin-left: 10px;
}
.watch{
    margin-top: 150px;
    width: 50px;
    margin-left: 30px;
}
.gallary{
    width: 40px;
    /* height: 20px; */
    margin-top: 150px;
    background: none;
    margin-left: 30px;
}
.snap{
    margin-top: 150px;
    margin-left: 30px;
    width: 40px;
}
.btn{
    float: right;
    position: absolute;
    top: 30%;
    left: 61%;
    height: 7vh;
    width: 5px;
    background: black;
    outline: none;
    border-radius: 10px;
    border: none;
}
.firstDiv{
    border: 0px solid blue;
    height: 77vh;
    width: 280px;
    background: black;
    border-radius: 30px;
    max-width: 300px;
}
.secondDiv{
    border: 0px solid blue;
    height: 77vh;
    width: 280px;
    background: url(images/image\ 1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    max-width: 280px;
    top: -5.22in;
    display: none;
    text-align: center;
}
.thirdDiv{
    border: 0px solid blue;
    height: 77vh;
    width: 280px;
    background: url(images/image\ 2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    max-width: 280px;
    top: -5.22in;
    display: none;
    text-align: center;
}
.showTime {
    top: 20%;
    color: #fff;
    position: absolute;
    left: 44%;
}
.time {
    font-weight: 400;
    font-size: 50px;
}
.date {
    font-weight: 700;
}
.footer{
    width: 70px;
    border: 0px solid #fff;
    height: 2vh;
    position: absolute;
    bottom: 14%;
    left: 48%;
    color: white;
   
    border-bottom: 2px solid #fff;
}
.footers{
    width: 275px;
    border: 1px solid #fff;
    height: 8vh;
    backdrop-filter: blur(1px);
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    bottom: 14%;
    left: 40%;
    color: white;
   justify-content: center;
   padding: 5px;
    border-bottom: 2px solid #fff;
}
.footerIcon{
    display: flex;
    width: 20px;
    justify-content: space-between;
}
.call{
    width: 100px;
    height: 40px;
    margin-left: 25px;
}
.clock{
    width: 100px;
    height: 40px;
    margin-left: 15px;
}
.message{
    width: 150px;
    height: 45px;
    margin-left: 20px;
}
.music{
    width: 100px;
    height: 35px;
    margin-left: 20px;
}

.lockIcon{
    display: flex;
    bottom: 15%;
    position: absolute;
    gap: 25%;
    /* justify-content: space-around; */
}
#touch{
    background: none;
    width: 8%;
    border-radius: 50px;
   margin-left: 10%;
}
#camera{
    width: 8%;
    background: none;
    border-radius: 500px;
    margin-left: 10px;
}
@media screen and (max-width: 482px) {
    .btn{
        float: right;
        /* position: absolute; */
        top: 30%;
        left: -45%;
        height: 7vh;
        width: 5px;
        background: rgb(156, 28, 28);
        outline: none;
        border-radius: 10px;
        border: none;
    }
}